body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #121802 1%, #077707 95%);    margin: 20vh auto;
}

.container-slide{
    display: flex;
    width: 50vw;
    height: 50vh;
    justify-content: space-between;
    background: linear-gradient(to bottom, #ccff33 1%, #33cc33 95%);    margin: 20vh auto;
    border-radius: 10px;
    box-shadow: 0 20px 30px black;
}

.container-items{
    position: absolute;
    display: flex;
    width: 50vw;
    height: 50vh;
    border-radius: 10px;
    overflow: hidden;
}
.item{
    width: 50vw;
    height: 50vh;
    transition: all 1s;

}
.item:first-child{
    margin-left: -100%;
}

.item img {
    width: 50vw;
    height: 50vh; 
    border-radius: 10px;   
}
.action-button{
    font:bold 30px sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    color: #00000000;
    user-select: none;
    z-index: 1;
}

.action-button:hover{
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    cursor: pointer;
    transition:all 1s;
}
p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:20px;
    font-size: 32px;
    font-family:sans-serif;
    color: white;
    text-transform: uppercase;
}